body{
    background-color:#f4f4f4;
    text-align: center;
    position: relative;
    
}
h1{
    font-size:50px;
    position: relative;
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
     
}
h1,h2{
color:#0b3655;
text-align: center;
margin-top:30px;
}
ul.menu{
    list-style-type:none;
    padding:0;
    margin:0;
    font-size: 20px;
    list-style-position:inherit;
   color:#1c66a0;
   padding-top:20px;
  

}
ul.menu li{
display:inline;



}
ul.menu li a{
    text-decoration:none;
    padding:2em 1em;
    color:#1c66a0;
}



p{
    font-size:20px;
    font-family:bold;
    line-height: 30px;
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
    color:#666666;
}


